<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet"/>
</head>
<body th:fragment="footer">
    <footer class="footer">
        <p>by Jatinder <strong>Singh</strong></p>
    </footer>
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>