<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet"/>
    <link href="/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: header">&nbsp;</div>

    <div class="jumbotron">
        <h1>ThymeWeb</h1>
        <p class="lead">Ajax Forms<br/>Async Long Polling<br/>Ajax Form Validation (JSR 303)</p>
        <p><a class="btn btn-lg btn-success" href="/ajax-form-submit" th:href="@{/ajax-form-submit}" role="button">:=)</a></p>
        <p class="lead"><em>Uses ThymeLeaf, Spring Framework, JavaScript, jQuery</em></p>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>